<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New event</title>
</head>
<body>

<form action="#" th:action="@{/events/addevent}" th:object="${event}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Event title">
    <label for="date">Date</label>
    <input type="date" th:field="*{date}" id="date" placeholder="Event date">
    <input type="submit" value="Add Event">
</form>

</body>
</html>